<section class="footer container-fluid">
    <div class="row justify-content-center">
        <div class="col-3">
            <h1>About</h1>
            <ul>
                <li><i class="icofont-bubble-right"></i>hey</li>
                <li><i class="icofont-bubble-right"></i>hey</li>
                <li><i class="icofont-bubble-right"></i>hey</li>
                <li><i class="icofont-bubble-right"></i>hey</li>
                <li><i class="icofont-bubble-right"></i>hey</li>
            </ul>
        </div>
        <div class="col-3">
            <h1>About</h1>
            <ul>
                <li>hey</li>
                <li>hey</li>
                <li>hey</li>
                <li>hey</li>
                <li>hey</li>
            </ul>
        </div>
        <div class="col-3">
            <h1>About</h1>
            <ul>
                <li>hey</li>
                <li>hey</li>
                <li>hey</li>
                <li>hey</li>
                <li>hey</li>
            </ul>
        </div>
        <div class="col-3">
            <h1>About</h1>
            <ul>
                <li>hey</li>
                <li>hey</li>
                <li>hey</li>
                <li>hey</li>
                <li>hey</li>
            </ul>
        </div>
    </div>
</section>